/* src/index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* html,
body,
#root {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
/* } */

body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* VideoChat.css */

.app-container {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

/* VideoChat.css */
.video-chat {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.local-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  /* object-fit: cover; */
  z-index: 1;
  transition:
    transform 0.5s ease,
    top 0.5s ease;
}

.remote-video {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.remote-video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.user-info {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0.8;
  padding: 10px;
  box-sizing: border-box;
}

.user-info div {
  font-size: 20px;
}

.user-info p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.video-chat-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 20px; */
  box-sizing: border-box;
  z-index: 2;
}

.control-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
}

.end-call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.end-call .MuiIconButton-root {
  color: #fff;
}

.control-icons .MuiIconButton-root {
  color: #fff;
}

.call-connected {
  border: 2px solid green;
}

/* for broadcast */
/* Add to your CSS file */

.video-chat-broadcast {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.local-video-broadcast {
  width: 100%;
  height: auto;
  max-width: 600px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.remote-videos-broadcast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.remote-video-broadcast {
  width: 100px;
  height: 75px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.user-info-broadcast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.video-chat-controls-broadcast {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.control-icons-broadcast {
  display: flex;
  align-items: center;
}

.control-icons-broadcast .MuiIconButton-root {
  margin: 0 5px;
  color: #fff;
}

.live-text {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  animation: blinker 3s linear infinite;
  z-index: 1;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.local-video-broadcast {
  width: 100%;
  height: auto;
}

.video-container {
  display: inline-block;
}

.hide-video {
  display: none;
}

.translated-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 10px;
  left: 10px; /* Ensure it occupies the full width minus the margins */
  width: auto;
}

.text-bubble {
  background-color: #333;
  color: white;
  padding: 4px 4px;
  border-radius: 20px;
  margin: 5px 0;
  width: 95%;
  word-wrap: break-word;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition:
    opacity 0.3s,
    transform 0.3s;
  animation: elasticExpand 0.3s ease-out;
}

@keyframes elasticExpand {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* CreateMeeting.css */
.create-meeting-paper {
  padding: 20px;
  margin-top: 20px;
}

.create-meeting-content {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.meeting-illustration {
  width: 150px;
  margin-bottom: 20px;
}

.create-invite-button {
  margin-top: 20px;
}

.host-control-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #df4303;
  margin-top: 20px;
  margin-bottom: 8px;
}

/* Animations */
@keyframes moveUp {
  0% {
    bottom: -183px; /* Start at the bottom */
  }
  100% {
    bottom: 29px;
  }
}

@keyframes moveDown {
  0% {
    bottom: 29px;
  }
  100% {
    bottom: -183px;
  }
}

@keyframes moveUpTimer {
  from {
    transform: translateY(-0px);
  }
  to {
    transform: translateY(
      -20px
    ); /* Adjust this value based on the height of the menu */
  }
}

@keyframes moveDownTimer {
  from {
    transform: translateY(-20px); /* Same value as above */
  }
  to {
    transform: translateY(-0px);
  }
}

@keyframes waveGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow:
      0 0 8px rgba(223, 67, 3, 0.6),
      0 0 16px rgba(223, 67, 3, 0.6),
      0 0 24px rgba(74, 187, 201, 0.6),
      0 0 32px rgba(74, 187, 201, 0.6);
  }
  50% {
    box-shadow:
      0 0 12px rgba(223, 67, 3, 0.8),
      0 0 20px rgba(223, 67, 3, 0.8),
      0 0 28px rgba(74, 187, 201, 0.8),
      0 0 36px rgba(74, 187, 201, 1);
  }
  100% {
    box-shadow:
      0 0 8px rgba(223, 67, 3, 0.6),
      0 0 16px rgba(223, 67, 3, 0.6),
      0 0 24px rgba(74, 187, 201, 0.6),
      0 0 32px rgba(74, 187, 201, 0.6);
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.page {
  opacity: 0;
  transform: translateX(100%);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}
